/* Size of the entire app */
.app-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

/* Videos list */
.video-list-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.video-list {
  display: flex;
  flex-direction: column;
}

/* Embedded video */
.video-player {
  flex: 3;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80vh;
}

/* Each video in the list */
.video-container, .added-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Video thumbnail */
.video-container img, .added-video img {
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h3 {
  margin: 10px 0;
  text-align: center;
}

#button {
  border-radius: 8px;
  background-color: white;
}
