/* App.css */

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.video-list-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.video-player {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-list {
  display: flex;
  flex-direction: column;
}

.video-container, .added-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.video-container img, .added-video img {
  max-width: 100%;
  border: 1px solid #ccc;
}

h3 {
  margin: 10px 0;
  text-align: center;
}
